/*************************************************
  Miscellaneous Styles:
**************************************************/

body {
  background-image: url("/sprinkles.png");
  background-repeat: "repeat";
  font-family: 'Marck Script', cursive;
}

#title {
  font-size: 24px;
  color: #301800;
  margin-top: 30px;
}

#date {
  font-size: 18px;
  color: #301800;
  margin-bottom: 30px;
}

#picture {
  border: 5px solid white;
  /* outline: 1px solid #DEB887; */
  outline: 1px solid #CCC;
  margin-bottom: 20px;
}

#people {
  font-size: 18px;
  margin-bottom: 25px;
}

/*************************************************
  Styles that need reviewing/refinement:
**************************************************/
