{{!-- <h1> Welcome! </h1>
<a href="#" {{action 'previous'}}>Previous</a> <a href="#" {{action 'next'}}>Next</a>
{{#each model as |image|}}
<section>
  <img src="{{image.imageUrl}}" alt="" />
  <br/>
</section>
{{/each}}
 --}}
<div>
 {{record-detail record=model}}
</div>
