<h1> Welcome! </h1>
<a href="#" {{action 'previous'}}>Previous</a> <a href="#" {{action 'next'}}>Next</a>
{{#each model as |image|}}
<section>
  <img src="http://localhost:3001/api/image/{{image.id}}" alt="" />
  <br/>
  {{image.created_at}}
</section>
{{/each}}
